html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

body {
  background-color: black;
}

#top-handle {
  height: 12px;
  background: #ccc;
  cursor: row-resize;
  position: relative;
  z-index: 1;
  display: flex;
}

#top-handle .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #004782;
  border-radius: 50%;
  z-index: 2;
}

#middle-area {
  display: flex;
  height: calc(100vh - 12px - 150px);
}

#code-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#code {
  flex-grow: 1;
  width: 100%;
  background-color: #1e1e2f;
  color: #f0f0f0;
  resize: none;
}

#code::placeholder {
  color: rgb(197, 197, 197);
}

#run {
  flex: 1;
  background: rgb(149, 149, 149);
  padding: 10px;
  overflow-y: auto;
  position: relative;
}

#terminal-bar {
  height: 150px;
  display: flex;
  border-top: 4px solid #060061;
  background: #303030;
  z-index: 1;
}

#button {
  width: 50px;
  background: #404040;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 5px;
  gap: 10px;
  box-sizing: border-box;
}

#button *{
  width: 100%;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

#run-btn {
  background-color: #00c896;
}
#stop-btn {
  background-color: #ff4b4b;
}

#terminal {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  white-space: pre-wrap;
  color: white;
  overflow-y: scroll;
}
